/* EFEEEE */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Poppins;
}
body{
    display: flex;
    justify-content: center;
}
.main{
    background-color:#EFEEEE;
    width: 1300px;
    height: auto;
    margin-top: 50px;
}
.main h1{
    text-align: center;
    color: black;
    margin-top: 10px;
}
.main p{
    text-align: center;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.box1{
    margin: 15px;
    background: #ffff;
    justify-content: center;

}
.box1 img{
    width: 1000px;
    height: auto;
    margin-left: 150px;
    
}
.box1 p{
    font-size: 13px;
   padding-bottom: 15px;
}
.box2{
    padding-left: 350px;
    padding-right: 350px;
}
.box3{
    padding-left: 350px;
    padding-right: 350px;
    
}
.box3 p{
    margin-top: 25px;
    text-align: justify;
}