/* EFEEEE */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    display: flex;
    justify-content: center;

}

main {
    background-color: #EFEEEE;
    max-width: 100%;
    min-width: 360px;
    }

main h1 {
    text-align: center;
    color: black;
    margin-top: 10px;
}

main p {
    text-align: center;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.box1 {
    margin: 15px;
    background: #ffff;
    justify-content: center;
    max-width: 100%;
    align-content: center;
  }

.box1 img {
    padding: 0 15%;
    max-width: 100%;
    min-width: 320px;
    display: block;
    }

.box1 p {
    font-size: 14px;
    padding-bottom: 15px;
}

.box2 {
    padding-left: 30%;
    padding-right: 30%;
}
.box2 h3{
    text-align: center;
    margin-bottom: 10px;
}
.box2 ul li{
    margin-bottom: 10px;
}
b{
    font-size: 18px;
}
.box3 {
    padding-left: 30%;
    padding-right: 30%;

}

.box3 p {
    margin-top: 25px;
    text-align: justify;
    margin-bottom: 40px;
}

.box4 {
    margin-bottom: 40px;
}